@import "tailwindcss";

/* 
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Patua+One&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Playwrite+IT+Moderna:wght@100..400&display=swap'); */




.general-text {
  font-family: "Playfair Display SC", serif;
  font-weight: 400;
  font-style: normal;
}

li{
  list-style-type: none;
}

.playwrite-it-moderna-cursive {
  font-family: "Playwrite IT Moderna", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
}

.cursive-normal-text {
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.headings-regular {
  font-family: "Patua One", serif;
  font-weight: 400;
  
}


.content-text {
  font-family: "Playfair", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  
  font-variation-settings:
    "wdth" 100;
}

.merienda-cursive {
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  
}

@layer utilities {
  .primary-color {
    color: #222222; /* Custom color as fallback or override */
  }
}

